* {
	margin: 0;

}

html, body {
	height: 100%;,

	padding: 0;
	margin: 0;

	background-color: #333;
}

main {
	/*background-image: url("./assets/Pipp.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;*/

	height: 100%;
	width: 80%;

	margin-left: 10%;
}

#bg {
	height: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
}

#tags, #projects {
	margin-top: 2.5%;

	background-color: rgba(0, 0, 0, 0.65);

	display: inline-block;
	z-index: -999;
	position: absolute;
}

#tags {
	height: 90%;
	width: 25%;

	margin-left: 15px;

	float: right;
}

#projects {
	height: auto;
	width: 70%;
	min-height: 10000000px;

	float: left;
}

#titleproj {
	height: 35px;
	width: 100%;

	background-color: black;

	font-size: 30px;
	text-align: center;
	color: #fdfd96;
}

#footer {
	height: 30px;
	width: 80%;

	margin-left: 10%;

	background-color: black;
	text-align: center;
}

#bgsrc {
	color: #fdfd96;
	margin-left: 10px;
}